{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Об авторе проекта</h1>
</div>
  <div class="container py-3">
    <div class="row">
    <div class="col-4">
      <img src="/static/img/about/my.jpg" height="400px">
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-8">
          Меня зовут Паша и мне почти 11011 годиков.
        </div>
        <div class="col-4">
          <a href="https://calculatori.ru/perevod-chisel.html" >
            <button type="button" class="btn btn-secondary btn-sm">Ссылка на двоичный конвертер</button>
          </a>  
        </div>
      </div>
      <hr>
      <div class="container">
        <h3>Меня можно найти:</h3>
      </div>
      <div class="col-2">
        <div class="list-group">
          <a href="https://t.me/pashpiter" class="list-group-item list-group-item-action">
            <nav type="nav-link">
              <img src="/static/img/about/telegram.png" class="mx-auto d-block" width="60" height="60">
            </nav>
          </a>
          <a href="https://vk.com/id4527520" class="list-group-item list-group-item-action">
            <nav type="nav-link">
              <img src="/static/img/about/vk.png" class="mx-auto d-block" width="60" height="60">
            </nav>
          </a>
          <a href="https://github.com/pashpiter/" class="list-group-item list-group-item-action">
            <nav type="nav-link">
              <img src="/static/img/about/github.png" class="mx-auto d-block" width="60" height="60">
            </nav>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %} 