{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Об авторе проекта</h1>
</div>
  <div class="container py-3">
    <div class="row">
    <div class="col-4">
      <img src="/static/img/about/my.jpg" height="400px">
    </div>
    <div class="col-8">
      Меня зовут Паша и мне почти 11011 годиков.<hr>
      Тут я размещу информацию о себе, используя свои умения верстать.<br>
      Но это будет чуть позже 😂 
    </div>
  </div>
</div>
  {% endblock %} 