{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Пост {{ post.text|truncatechars:30 }}
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-3 col-lg-2 d-md-block bg-ligth sidebar collapse">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
            {% if post.group %}
            <li class="list-group-item">
              <a href="{% url 'posts:group_list' post.group.slug %}">
                Все записи группы "{{ post.group.title }}"</a>
              </li>
            {% endif %}
            {% if post.group %} 
            <li class="list-group-item">
              Группа: {{ post.group.title }}
              <a href="{% url 'posts:group_list' post.group.slug %}">
              </a>
            </li>
            {% endif %}
            <li class="list-group-item">
              Автор: {{ post.author.get_full_name }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора: {{ post.author.posts.count }}
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author %}">
                Все посты пользователя
              </a>
            </li>
            {% if is_edit %}
            <li class="list-group-item">
              <a href="{% url 'posts:post_edit' post.id %}">
                Редактировать пост
              </a>
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:post_delete' post.id %}">
                Удалить пост
              </a>
            </li>     
            {% endif %}
          </ul>
      </nav>
      <main class="col-12 col-md-9">
        <div class="container py-5">
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <br>
          {{ post.text }}
        </div>
        {% include 'posts/includes/comments.html' %}
      </main>
    </div>
    <br>
  </div>
{% endblock %}
